[submodule "recaptcha-client"]
	path = recaptcha-client
	url = https://github.com/stefantalpalaru/recaptcha-client.git
[submodule "py-mustache"]
	path = py-mustache
	url = https://github.com/defunkt/pystache.git
[submodule "WinoCaptcha"]
	path = WinoCaptcha
	url = https://github.com/thedod/WinoCaptcha.git
[submodule "PyCAPTCHA"]
	path = PyCAPTCHA
	url = https://github.com/thedod/PyCAPTCHA.git
