body {background-color: #000000; color: #ffffff}
a {text-decoration:none; color:#ff4000}
a:hover {text-decoration:underline}
input {font-family: monospace}
.share-icon {border:none; margin: 0pt; vertical-align: middle}
.error-list {color:#ff0000; margin:4px}
